
{% block head %}

<link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>



    <style type="text/css">
      html, body { 
        /*background-color: #eee;*/
        height: 100%; 
        margin: 0; padding: 0; 
      }

      #map { 
        position: fixed;
        width: 900px;
        height: 100%;
        float: right;
         }

      #folderlist-container{
        position: absolute;
        float: left;
        margin-left: 20px;
        font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;

      }
      
      h3{
        font-family: 'Montserrat', sans-serif;
        color: #f9a11a;
        font-weight: bold;
      }
      h1{
        font-family: 'Montserrat', sans-serif;

      }
      p{
        font-size: .9em;
        line-height: .6em;
      }

      #folder-name {
        background-color: #333;
        width: 173%;
        margin-left: -20px;
        height: 100px;
        margin-top: -20px;
        margin-bottom: 40px;      
      }

    #heading{
        padding-top: 20px;
        margin-left: 20px;
        height: 100px;        
        color: white;
      }

    hr{
      width: 400px;
    }


    </style>

{% endblock %}

{% block body %}

<div id="folderlist-container" class="container">
  

<div class="place-container">
  <div id="folder-name">
  <h1 id="heading">Folder: {{folder.folder_name}}</h1> <br>
</div>


  {% for user_place in user_places %}

     <h3 > {{ user_place.place.name }}</h3>
      <p> {{ user_place.place.category }} </p>
      <p> {{ user_place.place.address }}, {{ user_place.place.city }} </p><br>

<hr>      


{% endfor %}
</div>
</div>
<div id="map">

</div>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpZSX9zpkBCKML4l0QRlfw34ogZyEsut8&callback=initMap">
    </script>
  <script type="text/javascript">

    var locations = [
    {% for user_place in user_places %}
      [ '{{ user_place.place.name }}', {{ user_place.place.latitude }}, {{ user_place.place.longitude }}, 5],
    {% endfor %}
    ];





function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.580585, lng: -45.263672},
    zoom: 3,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });


    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      }
      (marker, i)));
    }  
}

  </script>




{% endblock %}






















